services:
  # backend
  - type: web
    name: sample_app_backend
    plan: free
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    envVars:
      - key: PORT
        value: ${PORT}
      - key: DB_HOST
        value: ${DB_HOST}
      - key: DB_PORT
        value: ${DB_PORT}
      - key: DB_USER
        value: ${DB_USER}
      - key: DB_PASSWORD
        value: ${DB_PASSWORD}
      - key: DB_NAME
        value: ${DB_NAME}
  # frontend
  - type: web
    name: sample_app_frontend
    plan: free
    runtime: docker
    dockerfilePath: ./frontend/Dockerfile
   # DB
  - type: pserv
    name: sample_app_db
    plan: free
    runtime: docker
    dockerfilePath: ./db/Dockerfile
    disk:
      name: postgresql
      mountPath: /var/lib/postgresql/data
      sizeGB: 10
    envVars:
      - key: POSTGRES_USER
        value: ${POSTGRES_USER}
      - key: POSTGRES_PASSWORD
        value: ${POSTGRES_PASSWORD}
      - key: POSTGRES_DB 
        value: ${POSTGRES_DB}